AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv XMODIFIERS
AuthorizedKeysFile	.ssh/authorized_keys
ChallengeResponseAuthentication no
DenyGroups cpaneldemo cpanelsuspended
# 2025-05-18
# 1) "Connecting to the server via SSH takes too much time (about a minute)":
# https://github.com/ferreteo-com/192.249.114.178/issues/1
# 2) https://chatgpt.com/share/68290254-fe9c-8003-aec8-a56db2baf615
GSSAPIAuthentication no
GSSAPICleanupCredentials no
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
PasswordAuthentication yes
PermitRootLogin yes
PrintMotd no
Subsystem	sftp	/usr/libexec/openssh/sftp-server
SyslogFacility AUTHPRIV
UseDNS no
# 2025-05-18
# 1) "Connecting to the server via SSH takes too much time (about a minute)":
# https://github.com/ferreteo-com/192.249.114.178/issues/1
# 2) https://chatgpt.com/share/68290254-fe9c-8003-aec8-a56db2baf615
UsePAM no
X11Forwarding no